doctype html
html
  head
  title Login
  link(rel='stylesheet' href='login.css')
  body
  #container
    form(action='/login' method='POST')
      h1 Login
      h6(style='color: red') #{error}
      label Username:
      input(type='text' name='username')
      label Password:
      input(type='text' name='password')
      input(type='submit' value='Login')
      a(href='/signup' style="margin-top: 10px") Not registered? Sign up.
