doctype html
html
  head
  title Sign Up
  link(rel='stylesheet' href='login.css')
  body
  #container
    form(action='/signup' method='POST')
      h1 Sign Up
      h6(style='color: red') #{error}
      label Username:
      input(type='text' name='username')
      label Password:
      input(type='text' name='password')
      input(type='submit' value='Sign up')
      a(href='/login' style="margin-top: 10px") Already a user? Log In